<%- include("./components/header.ejs"); %>

<section class="about-1" >
    <div class="part-1">
        <span class="age">21</span> <span class="old">years old</span> 
    </div>
    <div class="part-2">
       
            <span class="name" >Abdelmounaim Hmamed</span>  
            <p>I'm a SOFTWARE and DATA Engineering Student who is passionate By Data Analysis and software development , student at the national school of applied sciences at Khouribga , for more information about provided services then hire me ...</p>
            <div class="social">
                <a href=""><i class="fa-brands fa-github"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-solid fa-envelope"></i></a>
            </div>
    </div>
</section>






<%- include("./components/footer.ejs") %> 