<%- include("./components/header.ejs"); %>

<section class="header">
    <div class="image">
        <img class="pic" src="pngegg.png" alt="data"/>
    </div>
    <a href="" class="button">Contact</a>
</section>

<section class="courses">
    <h1 class="component">Semestre 1</h1>
    <div class="data">
        <div class="box1">
            <i class="fa-solid fa-code"></i>
            <h1 class="content">Software and data</h1>
        </div>
        <div class="box1">
            <i class="fa-solid fa-code"></i>
            <h1 class="content">Software and data</h1>
        </div>
        <div class="box1">
            <i class="fa-solid fa-code"></i>
            <h1 class="content">Software and data</h1>
        </div>
        <div class="box1">
            <i class="fa-solid fa-code"></i>
            <h1 class="content">Software and data</h1>
        </div> 
        <div class="box1">
            <i class="fa-solid fa-code"></i>
            <h1 class="content">Software and data</h1>
        </div>
         <div class="box1">
            <i class="fa-solid fa-code"></i>
            <h1 class="content">Software and data</h1>
        </div>
    </div>
</section>
<section class="courses">
    <h1 class="component">Semestre 2</h1>
    <div class="data">
        <div class="box1">
            <i class="fa-solid fa-code"></i>
            <h1 class="content">Software and data</h1>
        </div>
        <div class="box1">
            <i class="fa-solid fa-code"></i>
            <h1 class="content">Software and data</h1>
        </div>
        <div class="box1">
             <i class="fa-solid fa-code"></i>
            <h1 class="content">Software and data</h1>
        </div>
        <div class="box1">
            <i class="fa-solid fa-code"></i>
            <h1 class="content">Software and data</h1>
        </div>
        <div class="box1">
             <i class="fa-solid fa-code"></i>
            <h1 class="content">Software and data</h1>
        </div>
        <div class="box1">
             <i class="fa-solid fa-code"></i>
            <h1 class="content">Software and data</h1>
        </div>
    </div>
</section>




<%- include("./components/footer.ejs") %> 